{{define "master"}}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Expected Runs</title>
		<meta name="description" content="Figure out your team's expected runs">
		<meta name="viewport" content="width=device-width">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Arvo:700|Droid+Sans+Mono|Oxygen' rel='stylesheet' type='text/css'>
		<script src="js/vendor/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
	<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->

		<div class="wrapper">
			<div class="container clearfix">
				<h1 class="headline">How many runs will your team score?</h1>

				{{range .Outs}}
				<div class="out-container row">
					<div class="out-label span2">
						<h3>{{.FriendlyName}}</h3>
					</div>
					<div class="stats-container span10">
						{{range .Stats}}
						{{if .Id | startNewRow }}
						<div class="row">
							{{end}}
							<div class="stats span5 clearfix">
								<div class="row">
									<div class="diamonds span1">
										<div class="diamond{{if .Id | onFirstBase }} full{{end}}">
										</div>
										<div class="diamond{{if .Id | onSecondBase }} full{{end}}">
										</div>
										<div class="diamond{{if .Id | onThirdBase }} full{{end}}">
										</div>
									</div>
									<div class="numbers span4">
										<div><span class="stat">{{.ScoringChance | addPercent}}</span> chance of scoring</div>
										<div><span class="stat">{{.ExpectedRuns | roundDecimal}}</span> expected runs</div>
									</div>
								</div>
							</div>
							{{if .Id | startNewRow }}{{else}}</div>{{end}}
						{{end}}
					</div>
				</div>
				{{end}}
			</div>
		</div>

		<div class="container">
			<div class="footer row">
				<div class="span6 offset6 footer-copy">
					Data via <a href="http://www.stats.com/pdfs/MLB_ITN_runExpectancy.pdf">Stats.com</a>.&nbsp;&nbsp;&nbsp; Made by <a href="http://kev.inburke.com">Kevin Burke</a>.&nbsp;&nbsp;&nbsp; <a class="small" href="https://github.com/kevinburke/expectedruns">View the source</a>
				</div>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.0.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-41396073-1', 'expectedruns.appspot.com');
			ga('send', 'pageview');

		</script>
	</body>
</html>
{{end}}
